DATABASE_URL=postgresql+asyncpg://postgres:cnldjqtlqkfwhwrkxek@db.wrpximygklyzazrwgxmu.supabase.co:5432/postgres
JWT_SECRET=PVIyO+++F56m3Ejwh1Qhz/ykanT/EEoU6sbacwdtVzA=
JWT_EXPIRE_MINUTES=60
JWT_REFRESH_EXPIRE_DAYS=30

R2_ACCOUNT_ID=289bd15c1bc1ecf231ca83a83bcdb51a
R2_ACCESS_KEY_ID=88e5225d5a5eb94eb778bbdbb873b8e4
R2_SECRET_ACCESS_KEY=842859f8b0346dc360e2db062534973cea7ef4516cdf2c5e240af66cab13fd2f
R2_BUCKET_NAME=marginalia-docs
R2_PUBLIC_URL=https://pub-3b5864e9e7c74947afa191483416b62b.r2.dev

ANTHROPIC_API_KEY=
